<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.pms.mapper.IPmsSpuInfoMapper">
                <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.mall.pms.entity.PmsSpuInfo">
                                                                                                                                                                                                                <result column="id" property="id"/>
                            <result column="create_time" property="createTime"/>
                                                            <result column="spu_name" property="spuName"/>
                                                                <result column="spu_description" property="spuDescription"/>
                                                                <result column="catalog_id" property="catalogId"/>
                                                                <result column="brand_id" property="brandId"/>
                                                                <result column="publish_status" property="publishStatus"/>
                                                                <result column="uodate_time" property="uodateTime"/>
                                    </resultMap>

                <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                            id,
                            create_time,
                        spu_name, spu_description, catalog_id, brand_id, publish_status, uodate_time
        </sql>

        <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pms_spu_info
    </select>
</mapper>