<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.ums.mapper.IUmsMemberLoginLogMapper">
                <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.mall.ums.entity.UmsMemberLoginLog">
                                                                                                                                                        <result column="id" property="id"/>
                            <result column="create_time" property="createTime"/>
                                                            <result column="member_id" property="memberId"/>
                                                                <result column="ip" property="ip"/>
                                                                <result column="city" property="city"/>
                                                                <result column="login_type" property="loginType"/>
                                    </resultMap>

                <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                            id,
                            create_time,
                        member_id, ip, city, login_type
        </sql>

        <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ums_member_login_log
    </select>
</mapper>