<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fast.usc.mapper.ISysAccountMapper">
                <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.fast.usc.entity.SysAccount">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <result column="id" property="id"/>
                            <result column="create_time" property="createTime"/>
                            <result column="update_time" property="updateTime"/>
                            <result column="create_by" property="createBy"/>
                            <result column="update_by" property="updateBy"/>
                            <result column="is_del" property="deleted"/>
                                                            <result column="username" property="username"/>
                                                                <result column="password" property="password"/>
                                                                <result column="phone" property="phone"/>
                                                                <result column="avatar" property="avatar"/>
                                                                <result column="introduction" property="introduction"/>
                                                                <result column="address" property="address"/>
                                                                <result column="gender" property="gender"/>
                                                                <result column="dept_id" property="deptId"/>
                                                                <result column="email" property="email"/>
                                                                <result column="nick_name" property="nickName"/>
                                                                <result column="pass_strengh" property="passStrengh"/>
                                                                <result column="type" property="type"/>
                                                                <result column="enabled" property="enabled"/>
                                                                <result column="account_non_expired" property="accountNonExpired"/>
                                                                <result column="account_non_locked" property="accountNonLocked"/>
                                                                <result column="credentials_non_expired" property="credentialsNonExpired"/>
                                                                <result column="tenant_id" property="tenantId"/>
                                    </resultMap>

                <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                            id,
                            create_time,
                            update_time,
                            create_by,
                            update_by,
                            is_del,
                        username, password, phone, avatar, introduction, address, gender, dept_id, email, nick_name, pass_strengh, type, enabled, account_non_expired, account_non_locked, credentials_non_expired, tenant_id
        </sql>

        <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_account
    </select>
</mapper>